<!--BILL CREATE-->
{% if context['active'] == 'Billing' %}
<div id="create_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="{{ url_for('bp_auth.user_create') }}" class="needs-validation" method="POST" novalidate>
                {{ context['forms']['BillCreateForm'].csrf_token }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add bill</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                <div class="position-relative form-group">
                                    <label for="customer_id" class="">Customer</label>
                                        <select name="customer_id" id="customer_id" class="form-control">
                                            <option value=""></option>
                                            {% for customer in context['customers'] %}
                                        <option value="{{ customer.id }}">{{ customer.fname, customer.lname }}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                                <div class="col-md-6 mb-3">
                                    <label for="meter_no">Meter No.</label>
                                    <input type="number" class="form-control" id="meter_no" name="meter_no"
                                           placeholder="Meter no" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="amount_due">Amount Due</label>
                                    <input type="number" class="form-control" id="amount_due" name="amount_due"
                                           placeholder="Php" step="0.01" min="0" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="due_date">Due Date</label>
                                    <input type="date" class="form-control" id="due_date" name="due_date"
                                           placeholder="Due Date" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="period_from">Period From</label>
                                    <input type="date" class="form-control" id="period_from" name="period_from"
                                           placeholder="Period from" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="period_to">Period To</label>
                                    <input type="date" class="form-control" id="period_to" name="period_to"
                                           placeholder="Period to" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <script>
                                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                                    (function() {
                                        'use strict';
                                        window.addEventListener('load', function() {
                                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                            var forms = document.getElementsByClassName('needs-validation');
                                            // Loop over them and prevent submission
                                            var validation = Array.prototype.filter.call(forms, function(form) {
                                                form.addEventListener('submit', function(event) {
                                                    if (form.checkValidity() === false) {
                                                        event.preventDefault();
                                                        event.stopPropagation();
                                                    }
                                                    form.classList.add('was-validated');
                                                }, false);
                                            });
                                        }, false);
                                    })();
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="modal_form" name="modal_form" value="modal_form"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% elif context['active'] == 'Customers' %}
<!--CUSTOMER CREATE-->
<div id="create_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="{{ url_for('bp_auth.user_create') }}" class="needs-validation" method="POST" novalidate>
<!--                {{ context['forms']['BillCreateForm'].csrf_token }}-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                <div class="position-relative form-group">
                                    <label for="customer_id" class="">Customer</label>
                                        <select name="customer_id" id="customer_id" class="form-control">
                                            <option value=""></option>
                                            {% for customer in context['customers'] %}
                                        <option value="{{ customer.id }}">{{ customer.fname, customer.lname }}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                                <div class="col-md-6 mb-3">
                                    <label for="meter_no">Meter No.</label>
                                    <input type="number" class="form-control" id="meter_no" name="meter_no"
                                           placeholder="Meter no" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="amount_due">Amount Due</label>
                                    <input type="number" class="form-control" id="amount_due" name="amount_due"
                                           placeholder="Php" step="0.01" min="0" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="due_date">Due Date</label>
                                    <input type="date" class="form-control" id="due_date" name="due_date"
                                           placeholder="Due Date" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="period_from">Period From</label>
                                    <input type="date" class="form-control" id="period_from" name="period_from"
                                           placeholder="Period from" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="period_to">Period To</label>
                                    <input type="date" class="form-control" id="period_to" name="period_to"
                                           placeholder="Period to" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <script>
                                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                                    (function() {
                                        'use strict';
                                        window.addEventListener('load', function() {
                                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                            var forms = document.getElementsByClassName('needs-validation');
                                            // Loop over them and prevent submission
                                            var validation = Array.prototype.filter.call(forms, function(form) {
                                                form.addEventListener('submit', function(event) {
                                                    if (form.checkValidity() === false) {
                                                        event.preventDefault();
                                                        event.stopPropagation();
                                                    }
                                                    form.classList.add('was-validated');
                                                }, false);
                                            });
                                        }, false);
                                    })();
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="modal_form" name="modal_form" value="modal_form"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
